@using Inspekta.Client.Components.Layout.MainLayout
@using Microsoft.AspNetCore.Components.Routing
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated ?? false)
                    {
                        <p>Brak uprawnień.</p>
                    }
                    else
                    {
						Navigation.NavigateTo("/auth");
                    }
                </NotAuthorized>
                <Authorizing>
                    <p>Autoryzacja…</p>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Nie znaleziono.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
