@page "/auth"
@layout Layout.AuthLayout.AuthLayout
@attribute [AllowAnonymous]

<div id="main-container">
	<EditForm Model="@Model"
			  OnValidSubmit="@SignIn">

		<FluentValidationValidator />

		<fieldset>
			<legend title="Inspekta">
				Inspekta
			</legend>

			<div class="field">
				<InputText class="primary-input"
					   id="login"
					   name="login"
					   type="text"
					   autocomplete="username"
					   placeholder=" "
					   title="Login"
					   @bind-value=Model.Login />
				<label for="login">Login</label>
				<ValidationMessage For="@(() => Model.Login)" class="validator-message" />
			</div>

			<div class="field">
				<InputText class="primary-input"
					   id="password"
					   name="password"
					   type="password"
					   autocomplete="current-password"
					   placeholder=" "
					   title="Hasło"
					   @bind-value=Model.Password />
				<label for="password">Hasło</label>
				<ValidationMessage For="@(() => Model.Password)" class="validator-message" />
			</div>

			<button class="primary-button hover"
					type="submit"
					title="Zaloguj się">
				Zaloguj się
			</button>
		</fieldset>
	</EditForm>
</div>