<form>
	<fieldset>
		<legend title="Ustawienia">
			Dane dodatkowe
		</legend>

		<div class="field">
			<input class="primary-input"
				   id="email"
				   name="email"
				   type="email"
				   placeholder=" "
				   title="Email">
			<label for="email">Email</label>
		</div>

		<div class="field">
			<input class="primary-input"
				   id="phone"
				   name="phone"
				   type="number"
				   placeholder=" "
				   title="Telefon">
			<label for="phone">Telefon</label>
		</div>

		<button class="primary-button hover"
				type="submit"
				title="Zapisz">
			Zapisz
		</button>

	</fieldset>
</form>