<form>
	<fieldset>
		<legend title="Ustawienia">
			Dane do faktury
		</legend>
		<div id="data">
			<div class="field">
				<input class="primary-input"
					   id="Purchaser"
					   name="Purchaser"
					   type="text"
					   required
					   placeholder=" "
					   title="Nabywca">
				<label for="Purchaser">Nabywca<span class="required">*</span></label>
			</div>

			<div class="field">
				<input class="primary-input"
					   id="NIP"
					   name="NIP"
					   type="number"
					   placeholder=" "
					   title="NIP">
				<label for="NIP">NIP</label>
			</div>

			<div class="field">
				<input class="primary-input"
					   id="Street"
					   name="Street"
					   type="text"
					   placeholder=" "
					   title="Ulica i numer">
				<label for="Street">Ulica i numer</label>
			</div>
		</div>

		<div id="address">
			<div class="field">
				<input class="primary-input"
					   id="ZipCode"
					   name="ZipCode"
					   type="number"
					   placeholder=" "
					   title="Kod pocztowy">
				<label for="ZipCode">Kod pocztowy</label>
			</div>

			<div class="field">
				<input class="primary-input"
					   id="Town"
					   name="Town"
					   type="text"
					   placeholder=" "
					   title="Miejscowość">
				<label for="Town">Miejscowość</label>
			</div>
		</div>

		<button class="primary-button hover"
				type="submit"
				title="Zapisz">
			Zapisz
		</button>
	</fieldset>
</form>